/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    margin-right: 5px;

  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgba(0, 0, 0, 0.844);
    border-radius: 300px;
    margin-right: 5px;

  }
.Sbody{
    background-image: url("../images/dogy.jpg");
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.Stotal{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Snav{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.89);
}
.Ssec{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Sin1{
    width: 90%;
    height: 50px;
    padding-left: 10px;
    font-family:cursive;
    border: none;
    background-color: rgba(255, 255, 255, 0.708);
}
.Sin1::placeholder{
    font-family:cursive;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.719);
}
.Sin2{
    width: 120px;
    height: 30px;
    border-radius:10px;
    margin-left: 8px;
    font-family: cursive;
    background-color: rgba(255, 255, 255, 0.784);
}
.Sin2:hover{
    background-color: rgba(255, 255, 255, 0.608);
    cursor: pointer;
}
.Sin2:active{
    font-size: 12px;
}
.Scardsholder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid;
    height: 500px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.297);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    margin-bottom: 20px;
}
.Scard{
    width: 330px;
    height: 450px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.625);
    border-radius: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: space-evenly;
    align-items: center;
}

.Simg{
    border: 1px solid black ;
    width: 150px ;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
.SLinkHolder{
    width: 130px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.Slink{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-family: cursive;
}
.Slink:hover{
    background-color: rgba(255, 166, 0, 0.63);
}
.Slink:active{
    font-size: smaller;
}
.Sinfo{
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: cursive;
}
.Sinfoparts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}
.Sp{
    margin-left: 20px;
    width: 200px;
    height: 26px;
    overflow: hidden;

}
.Sa{
    text-decoration: none;
    color:black;
}
.Sa:hover{
    color: rgb(61, 61, 227);
}
.Sa:active{
    font-size: smaller;
}
.Slabel{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 2px solid rgba(0, 0, 0, 0.436);
}
.Slabel2{
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.Smembers{
    margin-top: 20px;
    min-height: 250px;
    height: auto;
}
.Sdetails{
    width: 60%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.622);
    border-radius: 10px;
    padding: 10px;
}
.Sdetailparts{
    width: 100%;
    height: 100px;

}
.Sdetailparts2{
    width: 100%;
    height: 200px;
}
.Sp{
    width: 400px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    overflow: hidden;
}
.Sphone{
    width: 500px;
    display: flex;
    flex-direction:row ;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}
.Sadd{
    height: 40px;
    margin-bottom:20px ;
    
}
.Sadd2{
    width: 150px;
}
@media (max-width: 1200px) {
    .Sbody {
      width: 1200px; /* Set your constant width in pixels */
      overflow: hidden;
    }

  }
  @media (max-height: 600px) {
    .Sbody {
      height: 600px; /* Set your constant width in pixels */
      overflow: hidden;
    }

  }